* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

.chomp {
    padding: 20px;
    position: absolute;
    top: 5px;
    right: 140px;
}

.headerText {
    position: absolute;
    width: 35vw;
    top: 70px;
    right: 30px;
    text-align: end;
    /*font-family: ;*/
    font-size: 16px;
}

.obenHund {
    background-image: url(./img/bild1.jpg);
    height: 87vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.zwischenText {
    background-color: #DF8480;
    color: white;
    text-align: center;
    padding: 20px;
}

.sectionSteps {
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.zahlen {
    color: #DF8480;
    padding: 10px;
}

.hundBetteltFutter img {
    height: 40vh;
    width: 100vw;
}

.food {
    position: relative;
    background-image: url(./img/bild3.png);
    height: 45vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.locally {
    position: absolute;
    top: 70px;
    left: 40px;
}

.Delicious {
    position: absolute;
    top: 160px;
    right: 57px;
}

.organic {
    position: absolute;
    bottom: 70px;
    left: 85px;
}

.chefText {
    margin: 0 10px;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
}

.footerText {
    padding: 10px 30px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 40px;
}

.button{
    padding: 10px;
    border-radius: 30px;
}

.buttons .signUp {
    background-color: #DF8480;
    color: white;
}

.iconEnde {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 50px;
}

.icons {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.icon {
    width: 50px;
}

@media only screen and (min-width:601px)  {
    .chomp {
        padding: 20px;
        top: 10px;
        right: 23em;
    }

    .headerText {
        width: 15vw;
        top: 100px;
        right: 70px;
    }
    
    .obenHund {
        height: 100vh;
        background-size: cover;
    }
    .sectionSteps {
        text-align: start;
        display: flex;
    }

    .steps {
        display: flex;
        align-items: center;
    }

    .werbung {
        position: relative;
        height: 50vw;
    }

    .hundBetteltFutter img {
        height: 30vh;
        width: 50vw;
    }

    .food {
        height: 35vh;
        width: 50vw;
        bottom: 22em;
        left: 26em;
    }

    .chefText {
        position: absolute;
        top: 22em;
        left: 8em;
        width: 67vw;
    }

    .footerText {
        padding: 30px 30px;
        text-align: center;
        width: 45vw;
        position: absolute;
        left: 14em;
    }

    .buttons {
        padding: 6em 30px 0 30px;
    }

    .button{
        padding: 25px;
        border-radius: 40px;
    }

    .iconEnde {
        display: flex;
        flex-direction: row;
        padding: 0 20px 15px;
    }
}

@media only screen and (min-width:901px) {
    .chomp {
        position: absolute;
        top: 0;
        right: 0px;
        text-align: center;
        width: 100vw;
        background-color: white;
        z-index: 99;
    }

    header {
        height: 100vh;
    }

    .obenHund {
        position: absolute;
        height: 100vh;
        width: 50vw;
        right: 0px;
        border: 3opx solid purple;
    }

    .obenLinks {
        position: absolute;
        height: 100vh;
        width: 50vw;
        background-color: #DF8480;
    }

    .headerText {
        position: absolute;
        width: 35vw;
        top: 4em;
        left: 10em;
        text-align: end;
        z-index: 99;
        font-size: 36px;
        width: 20vw;
    }

    .zwischenText {
        background-color: white;
        color: #DF8480;
        text-align: center;
        padding: 60px 40px;
        font-size: 48px;
    }

    .sectionSteps {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 40px;
    }

    .steps {
        box-shadow: 0 5px 4px -4px grey;
        border-left: 0.5px solid grey;
        border-right: 0.5px solid grey;
        border-radius: 10px;
        width: 15em;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .werbung {
        height: 20vw;
    }

    .hundBetteltFutter img {
        height: 30vh;
        width: 30vw;
    }

    .food {
        position: absolute;
        height: 35vh;
        width: 32vw;
        bottom: 0;
        left: 29em;
    }

    .Delicious {
        position: absolute;
        top: 130px;
        right: 69px;
    }

    .chefText {
        position: absolute;
        top: 0;
        left: 58em;
        width: 22vw;
        border-radius: 10px;
        padding: 70px 50px;
        background-color: #DF8480;
        color: white;
    }

    .footerText {
        padding: 30px 30px;
        text-align: center;
        width: 29vw;
        position: absolute;
        left: 28em;
    }

    .buttons {
        height: 35vh;
    }
    
    .email{
        position: absolute;
        padding: 25px 10px;
        border-radius: 40px;
        width: 35em;
        left: 30em;
    }
    .signUp{
        position: absolute;
        padding: 25px 10px;
        border-radius: 40px;
        width:35em;
        left: 30em;
        top: 147em;
    }

    .iconEnde {
        margin: 0 30px;
    }
}